## Note how despite ignoring a specific file
## we can still version control it by using
## git add -f path_to_file
penguins_data.csv
## Normally we don't version control processed-data files unless they are
## relatively small (like < 25 Mb)
